<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            position: fixed;
            left: 10;
            bottom: 0;
            color: white;
            border-radius: 5px;
            background-color: #012a45;
            padding: 5px;
        }
    </style>
</head>

<body>
    <p> © Made by Matheus Manske Onofre 2023</p>
</body>

</html>