<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
   <div class="barra-top">
        <a href="facil" class="tarefa facil">Tarefas Fáceis</a>
        <a href="medio" class="tarefa medio">Tarefas Médias</a>
        <a href="dificil" class="tarefa dificil">Tarefas Difíceis</a>
        <p class="data"> <%= dia %> de <%= mes%> de <%= ano %>: <%= diaSemana %></p>
   </div>
   <div>
    
   </div>
</body>
</html>